.marketplace {
  display: flex;
  width: 100%;
  height: 100%;
  &__search {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(11,26,26);
    padding: 20px 30px;
    &__back {
      width: 200px;
      height: 50px;
      background-color: rgb(117, 64, 64);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: text-shadow 0.2s, background-color 0.1s;
      &:hover {
        background-color: rgb(66, 33, 33);
        text-shadow: 0px 0px 10px white;
      }
    }
    &__input__title {
      margin-top: 40px;
    }
    &__input {
      outline: none;
      border: none;
      height: 30px;
      margin-top: 2px;
      background-color: rgb(64, 117, 117);
      transition: background-color 0.2s;
      padding-left: 10px;
      &:hover {
        background-color: rgb(34, 63, 63);
      }
      &:focus {
        background-color: rgb(20, 37, 37);
      }
    }
    &__button {
      width: 130px;
      height: 40px;
      margin-top: 20px;
      border: none;
      outline: none;
      background-color: rgb(64, 117, 117);
      letter-spacing: 6px;
      padding-left: 12px;
      cursor: pointer;
      transition: background-color 0.1s;
      &:hover {
        background-color: rgb(74, 105, 105);
      }
    }
  }
  &__active {
    width: 100%;
    height: 100%;
    background-color: rgb(46, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
      width: 800px;
    }
  }
}

// rgb(64, 117, 117)